<!-- -*- mode: XML -*- -->

<launch>
    <!--PARAMETERS-->
    <param name="/visualservoing/impath"  value="$(find tracking)/src/calibData/img-%02d.pgm" />
    <param name="/visualservoing/take_pictures" value="false"/>
    <!--NODE-->
    <node pkg="tracking" type="calibrateInt" name="CalibrateInt"/>
</launch>
